<div class="row center">
  <h4>聖火討論串</h4>
</div>
<div class="row">
  <div class="col s12 m2">
    <div class="collection">
      <a
        ng-repeat="item in feed"
        ng-class="{active: isActive(item)}"
        class="collection-item"
        href="#!/ask/{{item.id}}">
          {{ item.tabname }}
      </a>
    </div>
  </div>
  <div class="col s12 m10">
    <div class="row">
      <div class="col s12 m3">
        <div class="col s12">
          <img materialboxed src="{{fed.mainimg}}" class="ask" alt="">
        </div>
        <div class="col s4" ng-repeat="img in fed.img track by $index">
          <img materialboxed src="{{img}}" class="subask" alt="">
        </div>
      </div>
      <div class="col s12 m9"> 
        <div class="row">
          <div class="col s12">
            <h4>
              標題 : {{fed.title}}
            </h4>
            <div class="divider"></div>
            <p>
              {{fed.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div disqus="id"></div>
      </div>
    </div>
  </div>
</div>
