<div class="row center">
  <h4>聖火討論串</h4>
</div>
<div class="row">
  <div class="col s12 m2">
    <div class="collection">
      <a
        ng-repeat="item in feed"
        ng-class="{active: isActive(item)}"
        class="collection-item"
        href="#!/ask/{{item.id}}">
          {{ item.tabname }}
      </a>
    </div>
  </div>
  <div class="col s12 m10">
    <div class="col s12 m12 l6">
      <div class="col s12 center">
        <h5>{{fed.title}}</h5>
        <img materialboxed src="{{fed.mainimg}}" alt="">
      </div>
      <div class="col s4" ng-repeat="img in fed.img track by $index">
        <img materialboxed src="{{img}}" alt="">
      </div>
      <div class="col s12 center">
        <h5>內容描述</h5>
        <p> {{fed.content}}</p>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div disqus="id"></div>
    </div>
  </div>
</div>
