<div class="slider" slider>
  <ul class="slides">
    <li>
      <img src="img/group1.JPG"> <!-- random image -->
      <div class="caption center-align black-text shadow-text">
        <h4>大家好 我們是</h4>
        <h1>溜島俠</h1>
      </div>
    </li>
    <li>
      <img src="img/group4.JPG"> <!-- random image -->
      <div class="caption center-align shadow-black-text">
        <h3>台北 : 啟程 </h3>
        <h4 class="light grey-text text-lighten-3">
          Day 1
        </h4>
      </div>
    </li>
    <li>
      <img src="img/group5.JPG"> <!-- random image -->
      <div class="caption left-align shadow-black-text">
        <h3>屏東火車站</h3>
        <h4 class="light grey-text text-lighten-3">
          Day 4
        </h4>
      </div>
    </li>
    <li>
      <img src="img/group3.JPG"> <!-- random image -->
      <div class="caption right-align shadow-black-text">
        <h3>台南 -> 高雄</h3>
        <h4 class="light grey-text text-lighten-3">
          Day 6
        </h4>
      </div>
    </li>
  </ul>
</div>
<div class="row center">
  <div class="col s12">
    <h3>那一年</h3>
    <h3>我們用一雙鞋，一把火</h3>
    <h3>傳遞我們的團結</h3>
  </div>
  <!--
  <div class="col m6 s12">
    <div
      class="fb-page"
      data-href="https://www.facebook.com/skate.island.knight"
      data-tabs="timeline,events,messages"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
      data-width="500"
      data-height="600"
      >
    </div>

  </div>
  -->
</div>
